{% extends "base.html" %}

{% block content %}

  <h2 class="my-3 text-center">Выберите выпуск</h2>

  <div class="container-fluid">
    <div class="row">
      {% if form %}      
      <!-- ЛЕВАЯ колонка -->
      <div class="col-lg-4 col-md-5 col-sm-12">
        <div class="card sticky-top" style="top: 20px;">
          <div class="card-header">Выбор даты</div>
          <div class="card-body">
            <form method="post" action="{% url "rundowns:rundowns_manage" %}">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="btn btn-primary w-100">Показать</button>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- ПРАВАЯ колонка -->
      <div class="{% if form %}col-lg-8 col-md-7 col-sm-12 {% else %} col-12 {% endif %}">
        <div id="content-area">
          <ul class="list-group">
            {% for r in rundowns %}
            <li class="list-group-item">
              <a  class="fw-bold fs-5 w-100 btn" 
                  href="{% url "rundowns:rundowns_detail" r.id %}">
                  {% comment %} href="#"> {% endcomment %}
              {{r.air_time}}
              
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}