{% extends "base.html" %}

{% block content %}

  <!-- Кнопка создания выпуска -->
  <form method="" name="news" action="{% url "rundowns:rundowns_create" %}">
    {% csrf_token %}
    <button class="btn btn-success mb-3" type="submit">Создать выпуск</button>
  </form>  

  <h2 class="text-center mb-3">Выпуски за {{today|date:"d F"}}</h2>    
    
  <!-- Список выпусков -->
  <div class="list-group">

    {% for r in rundowns %}

    <a href="{% url "rundowns:rundown_get" r.id %}" class="list-group-item list-group-item-action">{{ r.air_date|date:"H" }}</a>
    
    {% endfor %}
  </div>   

{% endblock %}



{% comment %} 
<!-- Кнопка поиска выпуска -->
  <button type="button"
    class="btn btn-primary">
    Выбрать выпуск
  </button> 
{% endcomment %}
