
{% load rundown_tags %}

<li class="flex items-center">

  <!-- Кнопка вниз -->
  <div class="mr-3">
    <button 
    {% if forloop.last %} disabled {% endif %}
    hx-get="{% url "rundowns:change_news_position_down" r.item.id %}" hx-target="#rundowns_news_list" 
    class="btn btn-circle ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
      </svg>
    </button>
  </div>

  <!-- Карточка -->
  <details class="collapse bg-base-100 border-base-300 border">
    <summary class="collapse-title font-semibold">
      <div class="flex items-center">
        <div class="font-bold">{{r.item.position}}</div>
        <div class="divider divider-horizontal"></div>
        <div class="font-bold">{{r.time.start_time|time:"H:i:s"}}</div>
        <div class="divider divider-horizontal"></div>
        <div class="font-bold grow">{{r.item.news.title}}</div>
        <div class="divider divider-horizontal"></div>
        <div class="status-xl status status-{{r.item.news.status.color}}"></div>
        <div class="divider divider-horizontal"></div>
        <div class="font-bold">{{r.item.news.asset.duration|format_duration|default:"00:00:00"}}</div>
        <div class="divider divider-horizontal"></div>
        <div class="font-bold">{{r.time.end_time|time:"H:i:s"}}</div>
      </div>
    </summary>

    <!-- Контент -->
    <div class="collapse-content text-sm text-sm grid grid-cols-12 gap-2">
      
      <div class="px-2 flex flex-col col-span-9 border-r-2 border-base-300">
        <div class="mb-2 flex items-center">
          
          {% if r.item.news.asset.title %}
          
            {% include "partials/video.html" with n=r.item.news %}
   
          {% else %}
          <div class="badge badge-neutral badge-outline">Нет видео</div>
          {% endif %}     
        </div>
        <div class="py-2 border-t-2 border-base-300">
          {% if r.item.news.comment.all %}
          {% for c in r.item.news.comment.all %}
            {% include "partials/comment.html" with n=r.item.news c=c %}
          {% endfor %}
          {% else %}
          <span class="badge badge-neutral badge-outline">Нет комментариев</span>
          {% endif %}
        </div>
      </div>

      <div class="col-span-3 flex items-center justify-end">
        <a href="{% url "news:view_news_history" r.item.news.id %}" class="btn btn-outline mr-2">История</a>

        {% if r.item.news.asset %}
        <a href="{% url "news:show_assets_to_add_news" r.item.news.id %}" type="button" class="btn btn-sm btn-info btn-circle btn-outline mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
          </svg>
        </a>
        {% else %}
        <a href="{% url "news:show_assets_to_add_news" r.item.news.id %}" type="button" class="btn btn-sm btn-success btn-circle btn-outline mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </a>
        {% endif %}
        <a type="button" href="{% url "news:edit_news" r.item.news.id %}" class="btn btn-sm btn-circle btn-warning mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
        </a>
        <a type="button" href="{% url "news:delete_news_from_rundown" r.item.id %}" class="btn btn-sm btn-circle btn-error">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
        </a>
      </div>
    </div>
  </details>

   <!-- Кнопка вверх -->
  <div class="ml-3">
    <button
    {% if forloop.first %} disabled {% endif %}
    hx-get="{% url "rundowns:change_news_position_up" r.item.id %}" hx-target="#rundowns_news_list"
    class="btn btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
      </svg>
    </button>
  </div>
  
</li>  

