
<form 
    method="post"
    {% if form.comment %}
    action="{% url "news:add_comment_to_news" %}"
    {% else %}
    action="#"
    {% endif %}
    class="px-2">
  {% csrf_token %}
  {{ form.non_fields_error }}
  {% for field in form %}
      <div class="flex flex-col form-control mb-2">
          <label class="label">
              <span class="label-text mb-1">{{field.label}}</span>
          </label>
          {{ field }}
          {% if field.errors %}
              <label class="label text-error">
              {{ field.errors }}
              </label>
          {% endif %}
      </div>
  {% endfor %}
  <input type="hidden" name="news_id" value={{news_id}}>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>







