
<dialog id="select_rundown_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-2">Создание новости</h3>
    
    <form hx-post="{% url "news:create_news" %}" hx-target="#news_list" hx-swap="afterbegin">
      {% csrf_token %}

      <div class="form-control w-full mb-3">
        <label class="label">
          <span class="label-text mb-1">Заголовок новости</span>
        </label>
        {{form.title }}
        {% if form.title.errors %}
         <label class="label text-error">
            {{ form.title.errors }}
        </label>
        {% endif %}
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text mb-1">Текст новости</span>
        </label>
        {{form.content }}
        {% if form.content.errors %}
         <label class="label text-error">
            {{ form.content.errors }}
        </label>
        {% endif %}
      </div>
      <div class="modal-action">
        <button type="submit" class="btn btn-primary">Создать новость</button>
        <button class="btn" onclick="select_rundown_modal.close()">Закрыть</button>
      </div>
    </form>
  </div>
</dialog>

