<li id="news_item_{{forloop.counter}}">

  <details class="collapse bg-base-100 border-base-300 border">
    
    <summary class="collapse-title font-semibold flex items-center">

      <div class="text-md grow">{{n.title}}</div>

      {% if n.editor and user.groups.all.0.name == "boss" %}
      <div class="badge badge-neutral badge-outline py-3">
        <span>{{n.editor}}</span>
      </div>
      {% endif %}

      {% if user.groups.all.0.name == "mont" %}

        {% if not n.mont %}
          <button hx-get="{% url "news:update_news_mont" n.id %}" hx-target="#main_content" class="btn btn-success">Взять тему</button>
        {% else %}
          <div class="badge badge-neutral badge-outline py-3">
            <span>{{n.mont}}</span>
          </div>
  
        {% endif %}
        
      {% endif %}

      {% if user.groups.all.0.name == "release" %}
      <a type="button" class="btn btn-success" href="{% url "news:release_news" n.id %}">Допустить до эфира</a>
      {% endif %}

      <div class="divider divider-horizontal"></div>

      <div class="status-xl status status-{{n.status.color}}"></div>

      <div class="divider divider-horizontal"></div>

      <!-- Кнопки управления -->
      <div class="flex w-10">
        {% if add and user.groups.all.0.name == "boss" %}
        <a type="button" href="{% url "news:add_news_to_rundown" rundown.id n.id %}" class="btn btn-sm btn-square btn-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </a>
        {% endif %}

        {% if user.groups.all.0.name == "mont" %}
        <div class="flex">
          <a 
            type="button" 
            href="{% url "news:show_assets_to_add_news" n.id %}" 
            class="btn 
            btn-sm 
            {% if n.asset %} btn-info {% else %} btn-success {% endif %} 
            btn-outline">
            {% if n.asset %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            {% endif %}
          </a>
        
         
        </div>
        {% endif %}

        {% if user.groups.all.0.name == "release" %}
        <a type="button" href="{% url "news:edit_news" n.id %}" class="btn btn-sm btn-circle btn-warning mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
        </a>
        {% endif %}

        {% if n.locked_until %}
        <div class="flex items-center">
          <span class="mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
            </svg>
          </span>
          <span>{{n.locked_by|default:""}}</span>
        </div>
        {% else %}
        <div>
          {% if user.groups.all.0.name == "editor" or user.groups.all.0.name == "boss"%}   
          <a type="button" href="{% url "news:edit_news" n.id %}" class="btn btn-sm btn-circle btn-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </summary>

    <!-- Контент -->
    <div class="collapse-content text-sm flex flex-col">
      {% if n.asset.video %}
        <div>
          {% include "partials/video.html" with n=n %}
        </div>
      {% else %}
        <div class="mb-3 badge badge-neutral badge-outline">Нет видео</div>
      {% endif %}
      {% if n.comment.count %}
        <div class="divider divider-vertical"></div>
        {% for c in n.comment.all %}
          {% include "partials/comment.html" with n=n c=c %}
        {% endfor %}
      {% endif %}
      <div class="divider divider-vertical"></div>
      <span>{{ n.content }}</span>
    </div>

  </details>

  
</li>
