{% extends "base.html" %}

{% block content %}
  <div class="pb-2 border-bottom">
  <a href={% url "news:news_create_form" %} type="button" class="me-2 btn btn-outline-success"> 
  <i class="bi bi-plus"></i>
  </a>
  <a href="#" type="button" class="me-2 btn btn-outline-primary"> 
  Поиск новости
  </a>
  </div>

  <h2 class="text-center my-3">Список новостей</h2>

  <ul class="list-group">
  {% for n in news %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="fw-bold">
        {{n.title}}
      </div>
      <button class="btn btn-primary">Добавить в выпуск</button>
    </li>
  {% endfor %}
  </ul>

{% endblock  %}
