{% extends "base.html" %}

{% block content %}

  <div class="flex justify-between mb-3">

    {% if user.groups.all.0.name == "boss" and not add %}
    <button class="btn btn-success" onclick="news_create_modal.showModal()">Создать новость</button>
    {% endif %}
    
    <label class="input">
      <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input
        type="search"
        name="search" 
        required 
        placeholder=""
        hx-get="{% url "news:search_news" %}" 
        hx-trigger="keyup delay:500ms"
        hx-target="#news_list"
        />
    </label>
      
  </div>

  <h2 class="text-3xl font-bold text-center mb-3">Список новостей</h2>

  {% include "news/components/news_list.html" %}
  
  {% include "news/components/news_create_modal.html" %}
  {% include "assets/components/assets_create_modal.html" %}

{% endblock  %}
