{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STENTOR TV</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body>

    {% if messages %}
    {% for message in messages %}
  
      <div role="alert" class="notification font-bold text-xl alert alert-{{ message.tags }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>{{ message }}</span>
      </div>
     
    {% endfor %}
    {% endif %}

    <div class="drawer lg:drawer-open">
      
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      
      <div class="drawer-content">

        <!-- Навигация -->
        <nav class="navbar w-full bg-base-300">
          <div class="flex justify-between items-center w-full">
            <a class="text-2xl mb-2 font-bold" href="{% url "index" %}">STENTOR</a>
            {% if user.is_authenticated %}
            <span class="font-bold text-xl">{{ user }}</span>
            <a class="btn" type="button" href="{% url "users:logout"%}">Выйти</a>
            {% endif %}
          </div>
        </nav>

        <main class="p-5" id="main_content">
          {% block content %} {% endblock %}
        </main>
        
      </div>

      {% if user.is_authenticated %}
      <div class="drawer-side is-drawer-close:overflow-visible">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="flex min-h-full flex-col items-start bg-base-200">
          <!-- Sidebar content here -->
          <ul class="border-b-3 border-info menu w-full">
            <!-- List item -->
            <li class="mb-2">
              <a href={% url "rundowns:manage_rundowns" %} type="button" class="btn btn-primary"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                  <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                  <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
                </svg>
                <span class="is-drawer-close:hidden">Выпуски</span>
              </a>
            </li>
              <a href={% url "news:manage_news" %} type="button" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                  <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                  <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
                </svg>
                <span class="is-drawer-close:hidden">Новости</span>
               </a>
            </li>
          </ul>
          <div class="p-3 w-full flex flex-col items-center border-b-3 border-info">
            <span class="w-full text-center text-sm font-bold">{% now "d / m / y" %}</span>
            <span class="w-full text-center text-sm font-bold">{% now "H:i" %}</span>
          </div>
          <ul class="mt-5 w-full flex flex-col">
            {% for r in rundowns %}
            <li class="w-full mb-2">
              <a href={% url "rundowns:get_rundown_detail" r.id %} type="button" class="w-full btn btn-info">
                <span class="text-white is-drawer-close:hidden">{{r.air_hour}}</span>
               </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    
  </body>
</html>
