{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STENTOR TV</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>

    <div class="container">

      <!-- Навигация -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <a  class="navbar-brand {% if not user.is_authenticated %} text-center {% endif %}" 
            href="{% url "index" %}">
            STENTOR
        </a>
        {% if user.is_authenticated %}
        {{ user.username.capitalize }}
        <a href={% url "users:logout" %} type="button" class="me-2 btn btn-outline-secondary"> 
          Выйти
        </a>
        {% endif %}
      </nav>
      {% if user.is_authenticated %}
      <div class="d-flex border-bottom py-2">
        
        <!-- Кнопки -->
        <a href={% url "rundowns:rundowns_manage" %} type="button" class="me-2 btn btn-outline-secondary"> 
          Выпуски
        </a>        
        <a href={% url "news:news_content" %} type="button" class="me-2 btn btn-outline-success"> 
          Новости
        </a> 
        
      </div>
      {% endif %}
       
      <main>
        <div class="py-2">
        {% block content %} {% endblock %}
        </div>
      </main>
        
      
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const isAuth = {{ request.user.is_authenticated|yesno:"true,false" }};
        if (!isAuth) {
          const modalEl = document.getElementById('loginModal');
          const modal = new bootstrap.Modal(modalEl);
          modal.show();
        }
      });
    </script>
  </body>
</html>
